.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#chest:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#head:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#left_arm:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#stomach:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#left_hand:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#left_leg_lower:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#left_foot:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#left_leg_upper:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#right_shoulder:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#right_leg_lower:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#right_foot:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#right_leg_upper:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#left_shoulder:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#right_arm:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}

#right_hand:not(.selected) {
  fill: #2596be !important; 
  stroke: #2596be !important; 
}







